header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid blueviolet;
}

.navbar{
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
}

.Categories {
display:inline-block;
align-items: center;

}